@CHARSET "ISO-8859-1";
body
{
background-image:url("http://www.clipartbest.com/cliparts/yik/k7b/yikk7b6iE.png");
background-repeat:no-repeat;
background-attachment:fixed;
}


H1{
	font-family: Arial, Helvetica, sans-serif;
	color:orange;
}